.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
}
.weather-visual {
  height: 300px;
  background: #1A2238;
  overflow: hidden;
  position: relative;
}
.moon {
	width: 67px;
	height: 67px;
	border-radius: 50px;
	background: #F6EDBD;
	box-shadow: 0 0 10px 0 #F6EDBD;
	position: absolute;
	top: 45px;
  left: 55px;
  overflow: hidden;
  animation: rise 2.5s ease-out;
}
.moon > div {
	position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 28px;
  border-radius: 10px;
  background: #ECE1A8;
}
.moon .crater-2 {
  top: 12px;
  left: 0px;
}
.moon .crater-3 {
  top: 56px;
  left: 10px;
}
.moon .crater-4, .moon .crater-5, .moon .crater-6, .moon .crater-7, .moon .crater-8, .moon .crater-9 {
  width: 6px;
  height: 6px;
  top: 37px;
  left: 49px;
}
.moon .crater-5 {
  top: 24px;
  left: 61px;
}
.moon .crater-6 {
  top: 55px;
  left: 33px;
}
.moon .crater-7 {
  top: 17px;
  left: 46px;
}
.moon .crater-8 {
  top: 28px;
  left: 27px;
}
.moon .crater-9 {
  top: 39px;
  left: 17px;
}
.moon .crater-10, .moon .crater-11 {
  width: 4px;
  height: 4px;
  top: 25px;
  left: 15px;
}
.moon .crater-11 {
  top: 37px;
  left: 37px;
}
.hill-fg-left, .hill-fg-center, .hill-fg-right {
  background: #303C5D;
  position: absolute;
  width: 337px;
  height: 281px;
  border-radius: 50%;
  top: 248px;
  left: -137px;
  z-index: 1;
}
.hill-fg-center {
  top: 221px;
  left: 63px;
}
.hill-fg-right {
  top: 248px;
  left: 292px;
}
.hill-bg-left, .hill-bg-right {
  background: #26314F;
  border-radius: 50%;
  position: relative;
  width: 350px;
  height: 250px;
  top: 200px;
  left: -57px;
}
.hill-bg-right {
  top: -60px;
  left: 190px;
}

@keyframes rise {
  from {
    transform: translate(-20px, 200px);
  }
  to {
    transform: translate(0, 0px);
  }
}
